.friend-request-sent-container {
    border: 1px solid black;
    background-color: rgb(247, 247, 247);
    border-radius: 3px;
    margin-bottom: 2px;
    padding: 5px 20px;
}

.friend-request-sent-text {
    padding: 15px 8px;
}

.request-sent-status-badge-accepted {
    display: inline;
    color: rgb(0, 169, 0);
    font-weight: bold;
}

.request-sent-status-badge-pending {
    display: inline;
    color: gray;
    font-weight: bold;
}

.request-sent-status-badge-rejected {
    display: inline;
    color: rgb(255, 0, 0);
    font-weight: bold;
}