/* Container */
.friend-requests-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 20px;
    margin: 5px;
}

/* Title */
.friend-requests-container h1 {
    font-weight: 400;
    align-self: center;
}

/* Drop down */
.request-type-dropdown {
    padding: 5px;
    margin-bottom: 15px;
}

.request-type-drop-down-options {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    font-size: 15px;
}

/* Friend requests sent */
.friend-requests-sent-container {
    width: 100%;
    height: 60vh;
    overflow-y: scroll;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

.friend-requests-sent-empty-text {
    text-align: center;
    margin-top: 40px;
    cursor: default;
    opacity: 0.6;
}

/* Friend requests received */
.friend-requests-received-container {
    width: 100%;
    height: 60vh;
    overflow-y: scroll;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

.friend-requests-received-empty-text {
    text-align: center;
    margin-top: 40px;
    cursor: default;
    opacity: 0.6;
}