.new-friend-search-result-container {
    padding: 0 30px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

.new-friend-search-result-container p {
    font-size: 15px;
    text-align: left;
}

.new-friend-search-result-container button {
    background-color: #4F46E5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

.new-friend-search-result-container button:hover {
    opacity: 0.7;
}